html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    display: grid;
    grid-template-columns: 15% 85%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

/* HEADER */
header{
    /* padding:1em; */
    /* min-height: 100vh; */
    width: 15%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: linear-gradient(to left, #023552 1%, #013651 100%);
}


header .logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}

header .logo span{
    display: inline-block;
    font-size: 1.5em;
    color: white;
    margin-top: 1em;
    letter-spacing: .2em;
}

header .logo img{
    width: 45px;
}

header .menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 2em;
}
header .menu a{
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    height: 15px;
    text-decoration: none;
    display: block;
    /* margin: 10px; */
    color: white;
    padding: 10px 20px;
}

header .menu a:hover{
    background-color: #ddb550;
}

/* Main */
section.main{
    max-height: 1000px;
    overflow: hidden;
}


section.main .fixed-top{
    height: 51px;
    position:fixed;
    top:0;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(221, 215, 215);
    background:whitesmoke;
    z-index: 99;
}


section.main .fixed-top .options{
    margin-left: 100px;
    margin-top: 25px;
}

section.main .fixed-top .options input.search{
    border-style: none;
    border-radius: 5px;
    border: 1px solid black;
    outline-style: none;
    padding:5px;
}

section.main .fixed-top .options button.sort{
    border-radius: 5px;
    border-style: none;
    border: 1px solid #023552;
    outline-style: none;
    padding: 3.5px;
}

section.main .container {
    margin-top: 70px;
}

section.main table thead{
    width: 900px;
    position: fixed;
    background-color: white;
    z-index: 99;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

section.main table .t-head th{
    color: #013551;
    padding-left:65px;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 10px;
}

section.main table .t-head th a{
    padding-left: 20px;
}
section.main .t-body {
    top:109px;
    position: absolute;
    /* bottom: -29px; */
    bottom: -570px;
    padding-top: 20px;
    height: 0px;
}

section.main .t-body tr td{
    text-align: left;
    padding-left:60px;
    padding-right:60px;
    border-bottom: 1px solid gainsboro;
    /* border-right: 1px solid black; */
}
